<h1>Bonjour Wilder</h1>

<h2>{{ program.title | capitalize }} vient d'être publiée sur Wild Série!</h2>

<p>Si tu veux en savoir plus, clique <a href="http://localhost:8001/wild/show/{{ program.slug }}">ici</a></p>