{% extends 'base.html.twig' %}
{% block title %}Wild Séries Edit{% endblock %}
{% block body %}
    <h1> Ajouter une catégorie</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" name="btnSearch" class="btn btn-primary">Ajouter</button>
    {{ form_end(form) }}

    <h2>Liste des catégories</h2>
    {% for category in categories %}
    <p>{{ category.name }}</p>
    {% endfor %}
{% endblock %}
