{% extends 'base.html.twig' %}

{% block title %}New Program{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle série</h1>

    {{ include('program/_form.html.twig') }}

<div class="form-inline justify-content-center">
    <a class="btn btn-back" ref="{{ path('program_index') }}">retour à la liste</a>
</div>
{% endblock %}
