{% extends 'base.html.twig' %}
{% block title %}{{ actor.name }}{% endblock %}

{% block body %}
    <div class="media">
        <div class="media-body">
            <h1>{{ actor.name }}</h1>
            <h2 class="mt-0">Séries dans lesquelles il apparaît:</h2>
        </div>
    </div>
{% endblock %}