<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wild Series</title>
</head>
<body>
{% block header %}
    {%  include 'navbar.html.twig' %}
{% endblock %}
{% block body %}
    <h1>{{ h1 }}</h1>
    <div class="card-deck mb-5">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>
