@import "~bootstrap/scss/bootstrap";


:root {

    --gray-dark: #cecece;
    --primary: #fe9477;
    --secondary: #FD582B;
    --success: #FE9477;
    --danger: #ff4136;
    --light: #eeebeb;
    --dark: #1C0A05;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
$bg: var(--light);
$mainColor: var(--primary);
$mynewcolor:#fe9477;
$background-light: #eeebeb;
$title:#FD582B;
$gray-dark: #cecece;
$darker: #8e8e8e;
.navbar-light {
    background-color:$mainColor;
}

.btn-primary {
    @include button-variant($gray-dark, darken($mynewcolor, 7.5%), darken($mynewcolor, 10%), lighten($mynewcolor,5%), lighten($mynewcolor, 10%), darken($mynewcolor,30%));
}

.btn-outline-primary {
    @include button-outline-variant($mynewcolor, #222222, lighten($mynewcolor,5%), $mynewcolor);

}
h1{
    color: $darker;
}
h2 {
    color:$title;
}
h3 {
    color: $dark;
}

h4 {color: var(--danger);
}
.media{
    margin: 20px;
}
.card-deck{
    width: 25%;
}
.card{

    float: none;
    margin: 10px;
    background-color: $bg;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    object-position: center;
}
.img-fluid{
    width: 25%;
    margin: 10px;
}